.containex {
  display: flex;
  flex-direction: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: transparent;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.span {
  font-family: "Titulo Gotham";
  font-size: larger;
  color: #7dc8ec;
  ;
}

.colorF {
  background: transparent
    /*var(--secondary-color)*/
}

.lashes {
  font-family: "Texto Helvetica";
  font-size: 16px;
  font-weight: 200;
  color: white;
}