.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 2rem 2rem;
}

@media only screen and (max-width: 768px) {
  .logos {
    flex-direction: column;
    padding: 20px 0;
    margin: 20px 0;
  }
}

.logoGrooming {
  width: 50%;
  height: auto;
  max-width: 300px;
  margin: auto;
}

.logoIhope {
  width: 75%;
  height: auto;
  max-width: 300px;
  margin: auto;
  cursor: pointer;
}

.text {
  font-family: 'Texto Helvetica';
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  width: 70%;
}

li {
  font-family: 'Texto Helvetica';
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  width: 65%;
}

li {
  list-style-type: disc;
}

.dropDown {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  margin: 30px auto;
  width: 70%;
}

.toggle {
  background-color: white;
  color: black;
  border: 2px solid #a7a7a7;
}

.label {
  font-family: 'Titulo Gotham';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #38568f;
  margin-top: 25px;
}

h2 {
  color: #38568f;
}

.nameEmail {
  border: solid 1px rgb(180, 179, 179);
  padding: 10px;
  margin-bottom: 10px;
}

.contactInfo {
  font-size: 13px;
  color: #6e6e6e;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 120px;
}

.link {
  text-decoration: rgba(248, 5, 5, 0.179);
  font-family: 'Texto Helvetica';
  font-weight: bold;
  color: #e70909;
  padding-top: 10px;
}

button {
  max-width: 58vw;
}
