.containex {
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: transparent;
    text-transform: uppercase;
    font-family: 'HelveticaNeue Regular';
    font-size: 16px;
}

.span {
    font-family: "Gotham Rounded Bold";
    font-size: larger;
    color: #7dc8ec;
    ;
}