.containex {
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: transparent;
    text-transform: uppercase;
    font-family: 'Texto Helvetica';
    font-size: 17px;
    font-weight: bold;
}

.span {
    font-family: "Titulo Gotham Bold";
    font-size: larger;
    color: #7dc8ec;
    ;
}