.containex {
  display: flex;
  flex-direction: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'Texto Helvetica';
  font-size: 16px;
  font-weight: bold;
}

.image {
  padding: auto;
  margin: auto;
  width: 14rem;
}

.span {
  font-family: 'Titulo Gotham Bold';
  font-size: larger;
  color: #7dc8ec;
}

.lashes {
  font-family: 'Texto Helvetica';
  font-size: 16px;
  font-weight: 200;
  color: #000000a6;
}

.newsLetter {
  font-family: 'Texto Helvetica';
}
