.carousel1{
  background: linear-gradient(0deg, rgba(83, 82, 82, 0.2), rgba(0, 0, 0, 0.2)),
  linear-gradient(0deg, rgba(36, 126, 190, 0.45), rgba(0, 75, 130, 0.45)),
  url(https://images.pexels.com/photos/1181396/pexels-photo-1181396.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: cover;
}
.carousel2{
  background: linear-gradient(0deg, rgba(83, 82, 82, 0.2), rgba(0, 0, 0, 0.2)),
  linear-gradient(0deg, rgba(36, 126, 190, 0.45), rgba(0, 75, 130, 0.45)),
  url(https://images.pexels.com/photos/939702/pexels-photo-939702.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: 100% 100%;
}
.carousel3{
  background: linear-gradient(0deg, rgba(83, 82, 82, 0.2), rgba(0, 0, 0, 0.2)),
  linear-gradient(0deg, rgba(36, 126, 190, 0.45), rgba(0, 75, 130, 0.45)),
  url(https://images.pexels.com/photos/1250452/pexels-photo-1250452.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: 100% 100%;
}
.container1{
  padding: 0;
  margin: 0;
}
.carouse, .carouselItem{
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}
.container1 h1, .container3 h1, .container4 h1 {

    font-family: "Titulo Gotham";
    font-style: normal;
    font-size: 68px;
    line-height: 97px;
    color: #ffffff;
  }
  .container1 span, .container3 span {
    background: linear-gradient(180deg, #7dc8ec 0%, #1a3e82 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .container1 p, .container3 p, .container4 p {

    font-family: "Titulo Helvetica";
    font-style: normal;
    font-size: 28px;
    color: #ffffff;
    padding: 15% 1% 0 1%;
  }
  .link{
    color:#ffffff;

    font-family: "Titulo Helvetica";
    font-size: 25px;
    margin-top: 0;
  }
  .btn{
    font-family: "Helvetica Thin";
    padding: 0;
  }
  .divBecome{
    padding-bottom: 10%;
  }
  .divBoxes{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 5px;
    justify-content: center;
  }
  .container2{
    display: flex;
    padding: 10px 10%;
  }
  .divHalf{
    width: 50%;
    padding: 10px;
    justify-content: center;
  }
  .container2 h1{
    font-family: "Gotham Rounded Bold";
    font-weight: bold;
  }
  .container2 p{

    font-family: "Titulo Helvetica";
  }
.container3 h1, .container4 h1{
  font-family: "Gotham Rounded Bold";
  color: var(--secondary-color);
}
.container3 p, .container4 p{

  color: black;
  font-family: "Helvetica Medium";

  padding: 15px 20% 15px 20%;
  text-align: justify;
}
.divCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.container5{
  display: flex;
  flex-wrap: wrap;
  padding: 10%;
}
.container7{
  padding: 10%;
}
.container6 div{
  text-align: right;
  padding-right: 10%;
}
.container6 h1, .container7 h1 {
  font-family: "Gotham Rounded Bold";
  font-style: normal;
  font-size: 68px;
  line-height: 97px;
  color: var(--secondary-color);
}
@media (max-width: 1013px) {
  .divHalf {
    width: 100%;
  }
  .container2{
    display: block;
  }
}
.title{
  color: var(--secondary-color);
}