.container1{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 700px;
}
.carousel{
  width: 100%;
  height: 600px;
  max-height: 600px;
  max-width: 100%;
  overflow: hidden;
}
.caroImg{
  min-width: 100%;
  height: 600px;
  background-attachment: fixed;
}
.caroTitle{
  font-family: "Titulo Gotham";
  font-size: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.caroText{
  font-family: "Titulo Helvetica";
  font-size: 21px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
  .container1 span, .container3 span {
    background: linear-gradient(180deg, #7dc8ec 0%, #1a3e82 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .container3 p, .container4 p {
    font-family: "Titulo Helvetica";
    font-style: normal;
    font-size: 28px;
    color: #ffffff;
    padding: 15% 1% 0 1%;
  }
  .link{
    color:#ffffff;
    font-family: "Titulo Helvetica";
    font-size: 25px;
    margin-top: 0;
  }
  .btn{
    font-family: "Texto Thin";
    padding: 0;
  }
  .divBecome{
    padding-bottom: 10%;
  }
  .divBoxes{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 5px;
    justify-content: center;
  }
  .container2{
    display: flex;
    padding: 10px 10%;
  }
  .divHalf{
    width: 50%;
    padding: 10px;
    justify-content: center;
  }
  .container2 p{
    font-family: "Titulo Helvetica";
    text-align: justify;
    font-size: 24px;
  }
.container3 p, .container4 p{
  color: black;
  font-family: "Titulo Helvetica";
  padding: 15px 20% 15px 20%;
  text-align: justify;
}
.divCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.container5{
  display: flex;
  flex-wrap: wrap;
  padding: 10%;
}
.container7{
  padding: 10%;
}
.container6 div{
  text-align: right;
  padding-right: 10%;
}
@media (max-width: 1013px) {
  .divHalf {
    width: 100%;
  }
  .container2{
    display: block;
  }
}
.title{
  font-family: "Titulo Gotham";
  color: var(--secondary-color);
  font-size: 55px;
}
.socialMedia{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin: 7px;
  margin-top: 0;
}
.socialIcon{
  height: 65%;
  width: 65%;
  color: white;
}
.socialMedia:hover{
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
}
.divSocialMedia{
  justify-content: center;
}