.banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(../../../assets/About/c387.jpg);
    background-size: cover;
    min-height: 40vh;
    display: grid;
    padding: 50px;
    grid-template-columns: 1fr 1fr;
}

.banner h1 {
    font-family: "Gotham Rounded Bold";
    font-style: normal;
    font-size: 90px;
    line-height: 97px;
    background-color: var(--bs-info);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.banner span {
    font-family: "Gotham Rounded Bold";
    font-style: normal;
    font-size: 100px;
    line-height: 97px;
    background-color: var(--bs-white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
}

.mainContainer0{
    display: flex;
    justify-content: flex-end;
}

.container1{
    background-color: #e7edf1;
    width: 95%;
    padding: 0px;
}

.image{
    max-width: 100%;
    max-height: 100%;
    margin: 50px;
    margin-right: 0px;
    border-radius: 30px;
}
.image2{
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    padding-left: 0px;
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.textContainer h4{
    font-family: "Gotham Rounded Bold";
    font-style: normal;
    font-size: 70px;

    background-color: black;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
}

.textContainer span{
    font-family: "Gotham Rounded Bold";
    font-style: normal;
    font-size: 70px;

    background-color:var(--bs-info);
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
}
.textContainer p {
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-size: 20px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
    padding-left: 0;
}

.globo{
    background: url(../../../assets/About/globo.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 80px;
}

.globo h3, .globo2 h3{
    font-family: "Gotham Rounded Bold";
    font-size: 17px;
    font-weight: bold;
}

.container2{
    width: 90%;
    padding: 0px;
}

.textContainer2{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 30px;
    float: right;
}
.textContainer2 h4{
    text-align: left;
    font-family: "Gotham Rounded Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    padding: 30px;
    padding-left: 0px;
}
.textContainer2 p{
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-size: 20px;
}
.imgContainer2{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.imgContainer2 img{
    width: 600px;
    height: 400px;
}

.videoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.videoDiv{
    background: url("../../../assets/eventos-de-marketing-2021.jpg"); 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    height: 400px;
    border-radius: 30px;
    max-width: 100%;
    max-height: 100%;
}

.visionDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 70%;
}
.visionTitle{
    font-family: "Gotham Rounded Bold";
    font-style: normal;
    font-size: 70px;
    font-weight: bold;
    background-color: black;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 30px;
}

.visionDiv h3 {
    font-family: "Gotham Rounded Bold";
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
}
.visionDiv p{
    font-family: Helvetica;
    font-style: normal;
    font-size: 20px;
    padding-bottom: 30px;
}

.mainContainer2{
    display: grid;
    grid-template-columns:1fr 1fr;
}
.globo2{
    background: url(../../../assets/About/globo.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 80px;
}
.globo2 h3{
    font-size: 20px;
}
.title2{
    padding: 50px;
    padding-top: 20px;
}
.title2  h4, .title h4{
    font-family: "Gotham Rounded Bold";
    font-style: normal;
    font-size: 60px;
    background-color: black;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
}
.statitics{
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 50px;
    padding-top: 0;
}
.statitics img{
    width: 1700px;
    height: 500px;
}

.mainContainer3{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
.teamContainer{
    background-color: #e7edf1;
    border-top-right-radius: 70px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bodyContainer{
    padding-top: 80px;
    width: 80%;
}

.team{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.statiticsDiv{
    width: 80%;
}
.divButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding: 20px;
}
.volunteerButton{
    border-radius: 20px;
}