.formContainer{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background-color: rgba(91, 91, 94, 0.192);
    margin: 0 auto;
    width: 40rem;
    height: fit-content;
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 1rem;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.label_volunt {
  font-family: "HelveticaNeue Medium";
  font-size: 18px;
  padding: 3px;
  color: var(--primary-color);
}
@media (max-width: 570px) {
    .formContainer {
      width: 19rem;
    }
  }
