.whatsapp {
  position: fixed;
  top: 90%;
  left: 12px;
  z-index: 9999;
}

.chatIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  border: solid 1px rgba(246, 246, 246, 0.354);
}

.chatIcon i {
  width: 40px;
  height: 65px;
  color: white;
  font-size: 40px;
}

.chatTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 5px 10px;
  text-align: left;
  color: #fff;
}

.chatWindow {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 400px;
  width: 300px;
  height: 400px;
  background-color: #004b82;
  /* background-image: linear-gradient(to right bottom, #004B82, #ffffff); */
  border: 2px solid #6a6a6a;
  border-radius: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26);
  opacity: 0.97;
}

.chatWindow.show {
  transform: translateY(0);
}

.logoChat {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.messageList {
  flex: 1;
  overflow-y: scroll;
  padding: 15px;
  border: solid 1px #6a6a6a;
  margin: 10px;
  background-color: #ffffff96;
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.messageText {
  margin-top: 5px;
  background-color: #1976ac;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  text-align: left;
  color: white;
  border: 1px solid rgb(116, 141, 176);
}

.messageText:last-child {
  margin-right: 0;
}

.messageInput {
  display: flex;
  align-items: center;
  padding: 10px;
}

.messageInput input {
  flex: 1;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  width: 20%;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 100%;
  background-color: #e9e9e9;
  color: black;
}

.messageInput button {
  background-color: #2181b9;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: solid 1px #ffffff;
}

.messageInput button:hover {
  background-color: #05406a;
  border: solid 1px white;
}
