.player-wrapper {
  position: relative;
  padding-top: 42.25%;
  display: flex;
  justify-content: center;
}

.react-player {
  position: absolute;
  top: 0;
}

.title {
  font-size: 35px;
  font-family: "Titulo Gotham";
  text-align: center;
  color: var(--secondary-color);
}

.container1 {
  padding-top: 65px;
}