.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

@media (max-width: 420px) {
  .container {
    width: 80%;
  }
}

.input {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  padding: 0 10px;
  border: 2px solid #ccc;
  border-radius: 7px;
  outline: none;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: -2px;
  color: #38568F;
  font-family: "Titulo Gotham Bold";
}

.underTitle {
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 15px;
  color: #c93b36;
  font-family: "Helvetica Neue Medium";
}

.success {
  padding: 25px;
  font-size: 25px;
  font-weight: 600;
  margin: 15px 0;
  color: #38568F;
  font-family: "Titulo Gotham Bold";
}