.background {
    position:relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 75, 130, 0.45), rgba(0, 75, 130, 0.45)),
    url(https://images.pexels.com/photos/1181396/pexels-photo-1181396.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: 100vh;
  background-size:100%;
  z-index: -100;
}
.NavBar{
    position: absolute;
    display: flex;
    
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    z-index: 100;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 99px;
}
.information h1 {
  width: 1501px;
  height: 97px;

  font-family: "Gotham Rounded";
  font-style: normal;
  font-size: 68px;
  line-height: 97px;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.information span {
  background: linear-gradient(180deg, #7dc8ec 0%, #1a3e82 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.information h2 {
  width: 1057px;
  height: 84px;

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 101%;

  text-align: center;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}
