.container {
  padding-top: 65px;
  margin-bottom: 3rem;
}

th {
  text-align: left;
}

td {
  vertical-align: middle;
  text-align: left;
}

tbody tr:hover td,
tbody tr:hover th {
  background-color: #ffffff9a;
}

.expandContent {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  font-size: 20px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: 5px;
}

.inputandDownloadContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  text-align: center;
  padding: 0 5px;
  border-radius: 5px;
}


.searchBarLabel {
  font-size: 21px;
  text-align: center;
}

.searchBar {
  margin: 0 auto;
  text-align: center;
  padding: 0 5px;
  border-radius: 7px;
}

.searchBarinput::placeholder {
  color: #2167c2;
}

.filterbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: 5px;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
}

.title {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #38568F;
  font-family: "Titulo Gotham";
}

.text {
  text-align: center;
  font-family: "Texto Helvetica";
  font-size: 20px;
  line-height: 25px;
  color: #414042;
  margin-top: 5px;
}

.selected {
  background-color: #edf9ff;
}

.approved {
  background-color: #f8fff6;
}

.denied {
  background-color: #ffe6e6;
}

.approvedRow {
  background-color: #f8fff6;
}

.deniedRow {
  background-color: #ffe6e6;

}

table {
  border-collapse: collapse;
  border: solid 1px #a9acb1;
}

table td,
table th {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 25px;
  color: #38568F;
}



.action {
  text-align: center;

}

.firstRow {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;
}

.pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.searchInput {
  width: 25%;
  text-align: center;
  padding: 0 5px;
  border: solid 1px #38568F;
  border-radius: 5px;
}

.paginationContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: auto;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.selectEntries {
  display: flex;
  flex-direction: row;
  text-align: center;
  border: solid 1px #dfdfdf;
  color: #2167c2;
  ;
  border-radius: 7px;
}

.selectEntriesContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: auto;
}

.reportDownloadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reportText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 5px;
  text-align: center;
  color: #38568F;
}

.textReport {
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  color: #38568F;
  margin-top: 5px;
}

.reportButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 1px #dfdfdf;
  color: #2167c2;
  ;
  border-radius: 7px;
}

.reportButton {
  width: 250px !important;
}

.bottomItems {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  text-align: center;
  margin: auto 20px auto auto
}

@media only screen and (max-width: 770px) {
  .bottomItems {
    width: 90%;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    margin: 10px 0;
  }
}