.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

th {
  text-align: left;
}

td {
  vertical-align: middle;
  text-align: left;
}

.expandContent {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  font-size: 20px;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
}

.title {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #38568F;
  font-family: "Gotham Rounded Bold";
}

.text {
  text-align: center;
  font-family: "Helvetica Neue Regular";
  font-size: 20px;
  line-height: 25px;
  color: #414042;
  margin-top: 5px;
}

.selected {
  background-color: #edf9ff;
}

.approved {
  background-color: #f8fff6;
}

.denied {
  background-color: #ffe6e6;
}

.approvedRow {
  background-color: #f8fff6;
}

.deniedRow {
  background-color: #ffe6e6;

}

table {
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid #ccc;
  padding: 8px;
  /* font-family: "Helvetica Neue Regular"; */
  font-size: 25px;
}



.action {
  text-align: center;

}

.firstRow {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  /* font-family: "Helvetica Neue Medium"; */
}
