/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #38568F;
  font-family: "Titulo Gotham";
  text-align: center;
}

.btn {
  background-color: #004b82;
}

.img {
  width: 250px;
  height: 180px;
  position: center;
}

.rowTitle {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.text {
  font-size: 20px
}