.container1 {
  padding-top: 65px;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  font-family: "Texto Helvetica";
}

.title {
  font-family: "Titulo Gotham Bold";
}

.pagination {
  display: flex;
  justify-content: center;
  margin-right: 640px;
  margin-top: 15px;
}