.btnZ {
    background-color: #004b82;
}

.formPd {
    padding: 0;
}

.head_ccourse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../../../assets/nodos.jpg);
    border-radius: 10px;
}

.head_ccourse h1 {
    font-family: "Titulo Gotham Bold";
    color: var(--primary-color);

}

.label_ccourse {

    font-family: "Titulo Helvetica";

    font-size: 18px;
    padding: 3px;
    color: var(--primary-color);
}



@media (width <=876px) {

    .formPd {
        padding: 5rem 2rem 2rem 2rem;
    }
}

.logo_ccourse {
    width: 150px;
    height: 75px;
}

@media(width >=876px) {

    .formPd {
        padding: 5rem 15rem 2rem 15rem;
    }
}